/* hidden message button stuff  */
#hiddenMessage {
  /* handles hidden message  */
  color: #f1ece1;
  border: pink dashed 1px;
  align-content: center;
  width: fit-content;
  padding: 1%;
  font-variant: small-caps;
}

.secretButton {
  position: relative;
  border: solid white 1px;
  border-radius: 4px;
  padding: 1%;
  margin: auto;
  width: fit-content;
}
/* ends hidden message button stuff  */

/* all my clock styling stuff  */
.clock {
  width: 400px;
  height: 400px;
  background-color: #c05850;
  border-radius: 200px;
  position: relative;
  margin: 20px;
  display: inline-flex
}

.clocklabel {
  width: fit-content;
  display: inline-flex;
}

.hand.hour {
  position: absolute;
  width: 4px;
  height: 90px;
  background-color: #111118;
  bottom: 198px;
  left: 198px;
  transform: rotate(90deg);
  transform-origin: 50% 100%;
}

.hand.minute {
  position: absolute;
  width: 4px;
  height: 140px;
  background-color: white;
  bottom: 198px;
  left: 198px;
  transform: rotate(90deg);
  transform-origin: 50% 100%;
}

.hand.second {
  position: absolute;
  width: 4px;
  height: 180px;
  background-color: #505668;
  bottom: 198px;
  left: 198px;
  transform: rotate(90deg);
  transform-origin: 50% 100%;
}
/* ends clock styling stuff  */

.navbar {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  text-align: right;
  text-transform: lowercase;
  /* background-color: #3a353f; */
  padding: 1rem;
  /* overflow: hidden; */
  margin: 2rem;
}

.navbar a:hover {
  opacity: 10%;
}

.projects {
  display: inline-flex;
}

body {
  background-color: #505668;
}

/* link, visited, hover, active LVHA always this order */
a {
  color: #c05850;
}

a:link{
  color: white;
}

a:visited {
  color: white;
  text-decoration-color: white;
}

a:hover {
  color: white;
  text-decoration-color: #c05850;
}

a:active {
  color: #c05850;
  text-decoration-color: #c05850
}

article {
  font-family: 'Raleway', sans-serif;
  color: #f1ece1;
  font-size: 1rem;
  text-indent: 1rem;
  padding: 1rem;
  margin: 1rem;
  border: 1px;
  font-weight: lighter;
  max-width: 75%;
  border: 1px solid black;
}

div {
  font-family: 'Raleway', sans-serif;
  color: #f1ece1;
  font-size: 1rem;
  font-weight: 200;
}

code {
  font-family: monospace;
  /* border: 1px solid black; */
  color: #3a353f;
  background-color: #f1ece1;
  padding: 1%;
  text-align: left;
  display: grid;
}

figcaption {
  font-family: 'Raleway', sans-serif;
  font-size: 0.75rem;
  text-indent: 1rem;
  font-weight: lighter;
  padding: 1%;
  display: inline-block;
  text-align: left;
  border: 1px solid black;
}

header {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  text-transform: lowercase;
  background-color: #f1ece1;
  position: fixed;
  top: 5%;
  padding: 10px;
  border: 10px;
  border-radius: 20px;
  margin: 10px;
  text-align: left;
  /* makes it above other elements, z-index is ordering  */
  z-index: 1;
}

.social-icons {
  text-align: center;
}
.social-icons li {
  display: inline-flex;
  align-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
}
/* .social-icons li a {
  border-bottom: none;
} */
.social-icons li img {
  width: 40px;
}

.funpage {
  width: 50px;
  height: 50px;
  background-color: #c05850;
  display: inline-block;
  border-radius: 10px;
}

.funpage:hover {
  background-color: #505668;
  cursor: pointer;
}

.funpagerandom {
  width: 50px;
  height: 50px;
  background-color: #c05850;
  display: inline-block;
  border-radius: 10px;
}

.funpagerandom:hover {
  background-color: aquamarine;
  cursor: pointer;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  color: #f1ece1;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1rem;
  text-align: center;
  /* border: 1px solid black; */
  margin: 1rem;
  padding: 1%;
  /* text-shadow: 2px, 5px, 10px, #ffdab9; */
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  color: #f1ece1;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  display: grid;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: #f1ece1;
  font-weight: lighter;
  line-height: 35px;
  text-align: center;
  text-indent: 1rem;
  margin: .75rem;
  border: 1px solid black;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 35px;
  max-width: 550px;
  text-indent: 1rem;
  margin: .5rem;
  /* border: 1px solid black; */
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 0.5rem;
  font-weight: bold;
  line-height: 35px;
  max-width: 550px;
  text-indent: 1rem;
  margin: .5rem;
  /* border: 1px solid black; */
}

nav {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  /* background-color: #3a353f; */
  font-weight: lighter;
  padding: 1%;
  overflow: hidden;
  margin: 1rem;
  /* border: 1px solid black; */
}

ol {
  font-family: 'Raleway', sans-serif;
  border: 1px solid black;
}

ul {
  font-family: 'Raleway', sans-serif;
  margin: .5rem;
}

li {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: #f1ece1;
  text-indent: 1rem;
  margin: 1rem;
  padding: 1rem;
  border: 1px;
  font-weight: lighter;
  border: 1px solid black;
}

.footer-links {
  font-size: 1rem;
  color: black;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

table {
  border: 3px solid #f7f7f0;
  display: flex;
  align-content: center;
  padding: 1rem;
  margin: 3rem;
}

td {
  border: 1px solid black;
  overflow: hidden;
  white-space: pre-wrap;
  padding: 1%;
}

aside {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  text-indent: 1rem;
  font-weight: lighter;
  display: flex;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
}

footer {
  font-family: 'Raleway', sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  background-color: #505668;
  background-size: cover;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  border: 1px solid black;
}

form {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  text-align: left;
  font-weight: lighter;
  padding: 2rem;
  margin: 1rem;
  /* border: 2px solid #c05850; */
}

form label {
  color: #f1ece1;
}

form input {
  margin-bottom: 1rem;
}

form button {
  background-color: #f1ece1;
  padding: 1%;
  margin-bottom: 1%;
  color: #c05850;
  border-radius: 0.5rem;
}